<div class="">
  <div class="flex items-center gap-2">
      <span class="text-xs font-medium rounded-md px-2 py-1" [ngClass]="task()?.status | statusColor">
              <i [ngClass]="task()!.status | statusIcon"></i>
        {{ task()?.status | titlecase }}
            </span>
    <div class="flex items-center justify-center text-xs px-2 py-1 rounded-md font-medium"
         [ngClass]="task()!.priority | priorityColor">
      <p>{{ task()!.priority | titlecase }}</p>
    </div>
  </div>
  <p class="text-lg font-semibold mt-3"> {{ task()?.title }} </p>
  <p class="text-base text-slate-500">
    {{ task()?.description }}
  </p>

  <p class="text-sm text-slate-500 mt-2">
    {{ task()?.dueDate | date: 'EEE, dd MMM yyyy' }}
  </p>

  <div class="mt-4">
    <button class="py-2 px-3 rounded-md flex items-center gap-1 bg-slate-200 cursor-pointer" (click)="goBack()"><i
      class="bi bi-arrow-left"></i> <span class="text-sm">Back</span></button>
  </div>
</div>
