<div class="flex flex-col gap-2 p-3 rounded-2xl bg-slate-100 w-full">
  <div class="flex items-center gap-2 px-1">
    <div class="h-2 w-2 rounded-full" [ngClass]="[primaryColor]"></div>
    <p class="text-sm font-semibold"> {{ title | uppercase }} <span>{{ tasks().length }}</span></p>
  </div>
  <!--  TAILWIND PURGE ISSUE QUICK FIX START -->
  <div class="hidden
  text-yellow-800 bg-yellow-100 bg-yellow-400
  text-blue-800 bg-blue-100 bg-green-500
  text-green-800 bg-green-100 bg-blue-500
  text-gray-800 bg-gray-100 ">
  </div>
  <!--  TAILWIND PURGE ISSUE QUICK FIX END -->
  <div class="flex flex-col gap-2" cdkDropList
       [cdkDropListData]="tasks()"
       (cdkDropListDropped)="drop($event)" [id]="type()" [cdkDropListConnectedTo]="connectedTo">
    @for (task of tasks(); track task.id) {
      @if (task.status === type()) {
        <div cdkDrag [cdkDragData]="task" class="bg-white rounded-xl border border-slate-200 p-2" id="{{ task.id }}">
        <span class="text-xs font-semibold rounded-md px-2 py-1" [ngClass]="task.status | statusColor">
          {{ task.status | uppercase }}
        </span>

          <div class="py-2">
            <p class="text-base font-medium">{{ task.title }}</p>
            <p class="text-sm text-slate-500">{{ task.description }}</p>
          </div>
          <div>
            <div class="flex items-center justify-between gap-2">
              <p class="text-xs text-slate-500 m-0">
                Assignees
              </p>
              <div class="flex -space-x-2">
                @for (assignee of task.assignees; track assignee) {
                  <div
                    class="h-6 w-6 rounded-full bg-slate-200 border border-white text-xs flex items-center justify-center text-slate-500">
                    <i class="bi bi-person-fill"></i></div>
                }
              </div>
            </div>
            <p class="text-xs text-slate-700 mt-1"><span class="font-medium"><i
              class="bi bi-flag"></i> {{ task.dueDate | date: 'dd MMM, yyyy' }}</span></p>
          </div>
          <hr class="my-2"/>
          <div>
            <p class="text-xs text-slate-500 m-0">
              {{ task.comments.length }} Comments
            </p>
          </div>
        </div>
      }
    }
  </div>

</div>
