<div class="flex flex-col gap-2 p-3 rounded-2xl bg-slate-100 w-full ">
  <div class="flex items-center justify-between px-1">
    <div class="flex items-center gap-2">
      <div class="h-2 w-2 rounded-full" [ngClass]="[primaryColor]"></div>
      <p class="text-sm text-slate-600 font-medium flex gap-2"> {{ title | titlecase }} <span
        class="px-3 py-0 rounded-full font-semibold text-xs flex items-center justify-center text-white bg-slate-500">{{ tasks().length }}</span>
      </p>
    </div>
    <div class="flex items-center gap-2">
      <button
        class="bg-blue-200 font-medium py-1 px-2 rounded-md text-blue-700 hover:text-slate-700 flex items-center justify-center" (click)="toggleModal()">
        <span class="text-xs">New Task</span></button>
<!--      <button class="font-semibold text-slate-500 hover:text-slate-700"><i class="bi bi-three-dots"></i></button>-->
    </div>
  </div>
  <!--  TAILWIND PURGE ISSUE QUICK FIX START -->
  <div class="hidden
  text-yellow-800 bg-yellow-100 bg-yellow-400
  text-blue-800 bg-blue-100 bg-green-500
  text-green-800 bg-green-100 bg-blue-500
  text-gray-800 bg-gray-100 ">
  </div>
  <!--  TAILWIND PURGE ISSUE QUICK FIX END -->
  <div class="flex flex-col gap-2" cdkDropList
       [cdkDropListData]="tasks()"
       (cdkDropListDropped)="drop($event)" [id]="type()" [cdkDropListConnectedTo]="connectedTo">
    @for (task of tasks(); track task.id) {
      @if (task.status === type()) {
        <div cdkDrag [cdkDragData]="task" class="bg-white rounded-xl border border-slate-200 p-4" id="{{ task.id }}"
             (cdkDragStarted)="dragging = true; draggingId = task.id"
             (cdkDragEnded)="draggingId = null; dragging = false">
          <ng-template cdkDragPlaceholder>
            <div class="flex items-center  h-[100px] justify-center border border-dashed border-slate-300 rounded-xl ">
              <p class="text-sm text-slate-500">Over here!</p>
            </div>
          </ng-template>
          <div class="flex items-center justify-between">
            <span class="text-xs font-medium rounded-md px-2 py-1" [ngClass]="task.status | statusColor">
              {{ task.status | titlecase }}
            </span>
            <div class="relative">
              <button class="font-semibold text-slate-500 hover:text-slate-700" [id]="'options-'+task.id" (click)="toggleTaskOptionsHandler('options-'+task.id, $event)"><i class="bi bi-three-dots"></i></button>
              @if (toggleTaskOptions.get("options-"+task.id)) {
                <div #toggleOptionsContainer
                  class="absolute right-0 top-full mt-1 w-48 bg-white border border-slate-200 rounded-xl shadow-md shadow-slate-200 z-10 overflow-hidden">
                  <button class="block w-full text-left px-4 py-2 text-sm text-slate-700 hover:bg-slate-100">Edit
                  </button>
                  <button class="block w-full text-left px-4 py-2 text-sm text-slate-700 hover:bg-slate-100">Delete
                  </button>
                </div>
              }
            </div>
          </div>

          <div class="py-2">
            <p class="text-base font-medium">{{ task.title }}</p>
            <p class="text-sm text-slate-500">{{ task.description }}</p>
          </div>
          <div>

            <div class="flex items-center justify-between gap-2">
              <p class="text-xs text-slate-700 mt-1 flex items-start gap-1 font-medium"><i class="bi bi-calendar4-event"></i> {{ task.dueDate | date: 'dd MMM, yyyy' }}</p>
              <div class="flex -space-x-2">
                @for (assignee of task.assignees; track assignee) {
                  <div
                    class="h-6 w-6 rounded-full bg-slate-200 border border-white text-xs flex items-center justify-center text-slate-500"
                    [title]="assignee">
                    <i class="bi bi-person-fill"></i></div>
                }
              </div>
            </div>
          </div>
          <hr class="my-2"/>
          <div class="flex items-center justify-between">
            <p class="text-xs text-slate-500 m-0">
              {{ task.comments.length }} Comments
            </p>
          </div>
        </div>
      }
    }
    @if (tasks().length === 0) {
      <div class="text-center text-slate-500 py-4 border border-dashed border-slate-300 rounded-xl">
        Drag and drop tasks here
      </div>
    }
  </div>

</div>
