<!--  TAILWIND PURGE ISSUE QUICK FIX START -->
<div class="hidden
  text-yellow-800 bg-yellow-100 bg-yellow-400
  text-blue-800 bg-blue-100 bg-green-500
  text-green-800 bg-green-100 bg-blue-500
  text-gray-800 bg-gray-100 text-red-800 bg-red-100">
</div>
<!--  TAILWIND PURGE ISSUE QUICK FIX END -->

<div class="flex items-center justify-between">
            <span class="text-xs font-medium rounded-md px-2 py-1" [ngClass]="task().status | statusColor">
              <i [ngClass]="task().status | statusIcon"></i>
              {{ task().status | titlecase }}
            </span>
  <div class="relative">
    <button class="font-semibold text-slate-500 hover:text-slate-700" [id]="'options-'+task().id"
            (click)="toggleTaskOptionsHandler('options-'+task().id, $event)"><i class="bi bi-three-dots"></i></button>
    @if (toggleTaskOptions.get("options-" + task().id)) {
      <div #toggleOptionsContainer
           class="absolute right-0 top-full mt-1 w-48 bg-white border border-slate-200 rounded-xl shadow-md shadow-slate-200 z-10 overflow-hidden">
        <button class="block w-full text-left px-4 py-2 text-sm text-slate-700 hover:bg-slate-100">Edit
        </button>
        <button class="block w-full text-left px-4 py-2 text-sm text-slate-700 hover:bg-slate-100">Delete
        </button>
      </div>
    }
  </div>
</div>

<div class="py-2">
  <p class="text-base font-medium">{{ task().title }}</p>
  <p class="text-sm text-slate-500">{{ task().description }}</p>
</div>
<div>

  <div class="flex items-center justify-between gap-2">
    <p class="text-xs text-slate-700 mt-1 flex items-start gap-1 font-medium"><i
      class="bi bi-calendar4-event"></i> {{ task().dueDate | date: 'dd MMM, yyyy' }}</p>
    <div class="flex -space-x-2">
      @for (assignee of task().assignees; track assignee) {
        <div
          class="h-6 w-6 rounded-full bg-slate-200 border border-white text-xs flex items-center justify-center text-slate-500"
          [title]="assignee">
          <i class="bi bi-person-fill"></i></div>
      }
    </div>
  </div>
</div>
<hr class="my-2"/>
<div class="flex items-center justify-between">
  <p class="text-xs text-slate-500 m-0">
    {{ task().comments.length }} Comments
  </p>
  <div class="flex items-center justify-center text-xs px-2 py-1 rounded-full"
       [ngClass]="task().priority | priorityColor">
    <p>{{ task().priority | titlecase }}</p>
  </div>
</div>
