<!--<div class="fixed top-4 left-[50%] -translate-x-[50%] p-2 w-80 z-10">-->
<!--  <div class="p-2 rounded-xl" [ngClass]="type() === 'success' ? 'bg-green-100 text-green-700 border shadow-md shadow-slate-200' : 'bg-red-100 text-red-700 border shadow-md shadow-slate-200'">-->
<!--    <p class="text-sm font-semibold"> {{ title() }} </p>-->
<!--    <p class="text-base"> {{ message() }} </p>-->
<!--  </div>-->
<!--</div>-->

<div class="p-1 px-3 rounded-md" [ngClass]="type() === 'success' ? 'bg-green-100 text-green-700' : 'bg-red-100 text-red-700'">
  <p class="text-sm"><span class="font-semibold">{{title() | titlecase}}</span>! {{ message() }} </p>
</div>
